#
# Copyright (c) 2019 Kris Jusiak (kris at jusiak dot net)
#
# Distributed under the Boost Software License, Version 1.0.
# (See accompanying file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
#
shallow_clone: true
environment:
  fast_finish: true

  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019 Preview
    VSPATH: C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\VC\Auxiliary\Build
    PLATFORM: amd64
    CMAKE_GENERATOR: Visual Studio 16 2019

install:
  - cinst cmake
  - refreshenv
  - call "%VSPATH%"\vcvarsall %PLATFORM%

build_script:
  - cmake -G "%CMAKE_GENERATOR%" -Bbuild -H. && cmake --build build
